html,
body {
  background-color: black;
}

* {
  color: #4d9c25;
}
.line {
  display: flex;
  flex-direction: row;
  gap: 2ch;
}
.line-link {
  color: #2f5c19;
}
.space,
.line-link {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  font-family: monospace;
  overflow-wrap: break-word;
}

.codeblock {
  color: rgb(215, 246, 152);
  white-space: pre;
}

.codeblock-container {
  max-width: 80ch;
  overflow-x: auto;
  background-color: rgb(63, 63, 63);
}

::-webkit-scrollbar {
  height: 1ch;
  width: 1ch;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 246, 152);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.prose {
  max-width: 40ch;
  white-space: pre-wrap;
}
@media (min-width: 100ch) {
  .prose {
    max-width: 75ch;
  }
}
