:root {
  --textwidth: 32ch;
  --linenumberwidth: 3ch;
  --gapwidth: 2ch;
}

@media (min-width: 500px) {
  :root {
    --textwidth: 80ch;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2rem;
  font-size: 16px;
  font-weight: 400;
  color: #4d9c25;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: black;
  display: block;
}

main {
  font-family: monospace;
  width: calc(var(--textwidth) + var(--linenumberwidth) + var(--gapwidth));
  margin: auto;
  display: block;
}

.line {
  display: flex;
  flex-direction: row;
  gap: var(--gapwidth);
}
.line-link {
  color: #2f5c19;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre;
  width: var(--linenumberwidth);
}

.codeblock-container {
  width: calc(var(--textwidth) + var(--linenumberwidth) + var(--gapwidth));
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgb(63, 63, 63);
}

.codeblock {
  color: rgb(215, 246, 152);
  white-space: pre;
}

.prose {
  width: var(--textwidth);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1ch;
  background: rgb(63, 63, 63);
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 246, 152);
}

::-webkit-scrollbar-corner {
  background: rgb(63, 63, 63);
}
